// @font-face {
//     font-family: 'rolandregular';
//     src: url('/assets/fonts/rolandregular.woff2') format('woff2'),
//          url('/assets/fonts/rolandregular.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }


body {
  background-color: #fff;
  font-family: 'rolandregular';

}

.button-wrapper {
  color:inherit;
  // display: flex;
  // flex-wrap: wrap;
  // flex-direction: column;

}

.button-row {
  color:inherit;
  display: flex;

  // flex-wrap: nowrap;
  // flex-direction: row;
  // align-items: stretch;
}

.drum-button {
  color:inherit;
  flex: 1 ;
}

.drum-machines {
    display: flex;
    width: 1000px;
    margin: 0 auto;
}

.machine-left {
  color:inherit;
  flex:1;
  margin-right: 15px;
  // flex:1;
  // margin-right: 15px;
  // background: pink;
}
.machine-right {
  color:inherit;
  flex:1;
  // flex:1;
  // background: cyan;
}

.button-row > span {
    color: inherit;
    flex: 1;
}
