@font-face {
    font-family: 'rolandregular';
    src: url('fonts/rolandregular.woff2') format('woff2'),
         url('fonts/rolandregular.woff') format('woff');
    font-size: 10px;
    font-color: red;
    font-weight: lighter;
    font-style: lighter ;
}

.beets-logo {
  height:118px;
}
.nav{
  height:110px;
}

.blackbird-background {
  background-image: url('blackbird.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: .75;

  // min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  // width: 100%;
  height: auto;

  /* Set up positioning */
  // position: fixed;
  top: 0;
  left: 0;
}

.studio3-background {
  @extend .blackbird-background;
  background-image: url('studio3.jpg');
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

body {
  background-color: #fff;
  font-family: 'rolandregular';
}

.body-title {
  margin-top: 0;
  color: blue;

  &-link {
    color: blue;
  }
}
.sequencer-controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.start{
  font-size: 1.15rem;
  margin: .5rem;
  padding:.1rem .25rem;
}
.tempo{
  margin:.5rem;
  font-size: 1.11rem;
  width: 50px !important;
}
.drum-pattern{
  display: inline-block;
  width: auto !important;
  margin:.5rem;
  line-height: 1.5rem;
  background: white;
  height: 1.5rem;
  padding: .4rem .25rem;
}
.studio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.studio-title {
  color: green;
  min-width: 100%;
}

.knob {
  width: 111px;
}

.drum-machine {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;

  @media (min-width: 1200px) {
    width: auto;
    max-width: calc(100% - 111px);
    overflow-x: visible;
  }
}


.button-wrapper {
  color:inherit;
  // display: flex;
  // flex-wrap: wrap;
  // flex-direction: column;

}

.button-row {
  color:inherit;
  display: flex;

  // flex-wrap: nowrap;
  // flex-direction: row;
  // align-items: stretch;
}

.grid-row-caption {
  flex: 1;
  color: yellow !important;
  background-color: transparent;
  border: none;
}

.drum-button {
  color:inherit;
  flex: 1;
  border: 1px solid black;
  box-sizing: unset;
  height: 5%;
  width: 5%;
  margin: .125%;

  &.active {
    border: 1px solid red; // TODO: replace with real color
  }

  &.pressed {
    background-color: black; // TODO: replace with real color
  }
}

.drum-button-orange {
  @extend .drum-button;
  background-color: orange;
}

.drum-button-yellow {
  @extend .drum-button;
  background-color: yellow;
}

.drum-button-white {
  @extend .drum-button;
  background-color: white;
}

.drum-button-red {
  @extend .drum-button;
  background-color: red;
}

.drum-machines {
    display: flex;
    width: 1000px;
    margin: 0 auto;
}

.group1{
  background-color: orange;
}
.meta-data{
  margin:0px auto;
  width: 75%;
}
.machine-left {
  color:inherit;
  flex:1;
  margin-right: 15px;
  // flex:1;
  // margin-right: 15px;
  // background: pink;
}
.machine-right {
  color:inherit;
  flex:1;
  // flex:1;
  // background: cyan;
}

//  Moved to .grid-row-caption instead, this one is obsolete
// .button-row > span {
//     color: inherit;
//
// }

.button-row > span {
    color: inherit;
    flex: 1;
}

//////////////////////
// Home Page Styles //
//////////////////////

.component {
  background-color: #EABE7C;
  padding: 20px;
}

.card-image {
  height: 150px;
  width: 150px;
}

.album {
  zoom: 2;
  display: block;
  margin: auto;
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 100%;
}

.card.small {
  height: 100px;
}

.studios {
  width: 100%;
}

ul {
  list-style: none;
  display: inline-block;
}
