body {
  background-color: #fff;
  font-family: 'Monoton', cursive;
}

.button-wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

}

.button-row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.drum-button {
flex: 1 0 6.25%;

}

.drum-machines {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-between;
}

.machine-left {
  flex:1;
  margin-right: 15px;
}
.machine-right {
  flex:1;
}
